* {
    padding: 0;
    margin: 0;
    font-family: "Noto sans", "Noto sans JP";
    letter-spacing: 0.01em;
    box-sizing: border-box;
}

h1 {
    color: skyblue;
    /* border: 1px solid skyblue; */
}

p {
    /* border: 1px solid skyblue; */
    padding: 0.2em 0
}

span {
    display: inline;
    background-color: cornsilk;
    line-height: 1.4;
    padding: 0.2em;
}