* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 87.5%;
    font-family: "Noto sans", "Noto sans JP", "Yu Gothic", sans-serif;
    line-height: 1.6;
    letter-spacing: .05em;
}

body {
    font-size: 1rem;
    background-color: #efefef;
}

span {
    font-family: "源ノ角ゴシック Code JP";
    background-color: palegreen;
    padding: 0 4px;
    font-size: 0.8rem;
    letter-spacing: 0;
}

h1 {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 30px;
    /* background: linear-gradient(transparent 70%, #000 70%); */
    line-height: 1.6;
    border-left: 4px solid;
    padding: 2px 12px;
}

h2 {
    font-size: 1rem;
    font-weight: bold;
    color: #888;
    text-align: left;
    padding: 40px 0 20px;
    letter-spacing: 0;
}

.horizontal,
.vertical {
    background-color: #fff;
    padding: 0px 20px;
    padding-bottom: 40px;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, .1);
    border-radius: 1px;
}

.wrapper {
    width: 80%;
    margin: 0 auto 100px;
    max-width: 712px;
    min-width: 350px;
}

.outer1 {
    background-color: #efefef;
}

.inner1 {
    text-align: center;
    border: 2px dashed #ccc;
}

.outer2 {
    background-color: #efefef;
}

.inner2 {
    width: 50%;
    margin: 0 auto;
    text-align: left;
    /* max-width: 500px; */
    border: 2px dashed #ccc;
}

.outer3 {
    text-align: center;
    background-color: #efefef;
}

.inner3 {
    display: inline-block;
    text-align: left;
    border: 2px dashed #ccc;
    /* width: 300px; */
}

.outer3-2 {
    text-align: center;
    background-color: #efefef;
    font-size: 0;
}

.inner3-2 {
    display: inline-block;
    width: 50%;
    text-align: left;
    border: 2px dashed #ccc;
    font-size: 1rem;
    vertical-align: middle;
}

.outer4 {
    height: 10rem;
    text-align: center;
    display: table;
    width: 100%;
    background-color: #efefef;
}

.inner4 {
    display: table-cell;
    vertical-align: middle;
    border: 2px dashed #ccc;
}